<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/juscabe.css">
    <link rel="shortcut icon" href="/assets/nashir.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title> {{ page.title }} | {{ site.title }} </title>
</head>
<body>
    <div class="bh1">
        <h1 class="bh2"> {{ site.title }} </h1>
        <div class="bh3">
            <button class="btn btn1">#Amenua</button>
            <button class="btn btn1">#Bmenub</button>
            <button class="btn btn1">#Cmenuc</button>
            <button class="btn btn1">#Dmenud</button>
        </div>
    </div>
       <div class="b0">
        <div class="7 col">Seven</div>
        <div class="5 col">Five</div>
    </div>
    {{ content }}
</body>
</html>