<html lang="en">
<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<title> {{ site.title }} </title>
	<link rel="icon" href="/assets/nashir.png" type="image/png" />
	<link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<link rel="stylesheet" href="/assets/css/yellow-black.css">
	<!-- <link rel="stylesheet" href="/assets/css/indigo-white.css"> -->
	<!-- <link rel="stylesheet" href="/assets/css/green-white.css"> -->
	<!-- <link rel="stylesheet" href="/assets/css/red-white.css"> -->
	<!-- <link rel="stylesheet" href="/assets/css/grey-white.css"> -->
	<!-- <link rel="stylesheet" href="/assets/css/white-indigo.css"> -->
	<!-- <link rel="stylesheet" href="/assets/css/white-blue.css"> -->
	<!-- <link rel="stylesheet" href="/assets/css/white-grey.css"> -->
	<!-- <link rel="stylesheet" href="/assets/css/white-red.css"> -->
	<!-- <link rel="stylesheet" href="/assets/css/yellow-black.css"> -->
</head>
<body>

	{{ content }}
	
</body>
</html>
